@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Epilogue:wght@400;500&family=Inter:wght@300;400&display=swap');

//UNIVERSAL
$backgroundColor: #ffffff;
$bodyColor: #404a5e;
$bodyFont: 'Inter', sans-serif;
$monoFont: 'DM Mono', monospace;
$highlightFont: 'DM Sans', sans-serif;
$bodyFontSize: 2vw;
$padding: 28px;
$txtPadding: 28px 24px;
$txtPadTop: 28px 0 28px 0;
$fadeTransition: opacity ease-in-out .8s;
//BTN
$stripe-height: 7px;
$btn-color: white;
$btn-background: none;
$btn-color-hover: black;
$btn-background-hover: white;
$border-color: white;
$border-color-hover: black;

body {
  font-family: $bodyFont;
  color: $bodyColor;
}

body.folio {
  margin-top: 50%;
  transition: background-color ease-in-out .8s;
}

//BG COLOUR SCROLL

footer {
  border-top: 1.5px solid $bodyColor;
  z-index: 60;
  position: relative;
  padding-top: 10vh;
  width: 100%;
  float: left;
  transition: $fadeTransition;
}

footer p {
  font-size: 13px;
  margin-bottom: 10px;
  font-family: 'Epilogue', sans-serif;
  font-weight: 400;
  color: #d7d7d7;
}

footer p span {
  font-family: 'DM Sans, sans-serif';
}

footer h2 {
  font-family: 'Epilogue', sans-serif;
  font-size: 5.5vw;
  font-weight: 500;
  margin-top: 270px;
  margin-bottom: .5em;
}

footer h3 {
  font-family: $bodyFont;
  font-weight: 300;
  font-size: $bodyFontSize;
}

footer h4 {
  font-family: 'DM Sans', sans-serif;
}

footer h4 span {
  font-family: 'Epilogue';
}

footer .pam_img {
  width: 50%;
  float: left;
  margin-bottom: 20px;
}

.bodyfooter {
  color: $backgroundColor;
  nav a {
    color: $backgroundColor;
  }
}

.bodyfooter footer h2, .bodyfooter article {
  color: #d7ff8f;
}

#foliobg {
  position: fixed;
  pointer-events: none;
  z-index: 0;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: $fadeTransition;
}

.bgshow {
  opacity: 1;
  background: radial-gradient(ellipse at top, transparent, transparent), radial-gradient(ellipse at bottom, #ffb59f, transparent);
  transition: $fadeTransition;
}

.bghide {
  opacity: 1;
  background: radial-gradient(ellipse at top, transparent, transparent), radial-gradient(ellipse at bottom, #619f9a, #b320499c);
}

#foliofg {
  position: fixed;
  pointer-events: none;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // mix-blend-mode: difference;
  box-shadow:
  inset 60px 0 120px #9f9f9f,
  inset -60px 0 120px #fff;
  transition: $fadeTransition;
}

.fgshow {
  opacity: .8;
  mix-blend-mode: difference;
  transition: $fadeTransition;
}

.fghide {
  opacity: 1;
  mix-blend-mode: multiply;
  transition: $fadeTransition;
}


//TYPOGRAPHY

p {
  // text-align: justify;
  line-height: 1.3em;
  font-size: 2vw;
  font-weight: 300;
  position: relative;
}

article > ul > li, article > ul > a  {
  background-color: white;
  z-index: 5;
  position: relative;
  display: inline-block;
  padding: .2em .85em;
  border-radius: 2em;
  color: #5c667b;
  font-family: $highlightFont;
  margin: .25em 0;
  font-size: 14px;
  list-style-type: none;
  letter-spacing: .02em;
  text-decoration: none;
  transition: all .1s;
}

footer article > ul > li {
  background-color: #eaeaea;
  color: #455b00;
  opacity: 0.9;
}

footer article > ul > a {
  background-color: #ffa1fe;
  color: #333253;
}

article > ul > a:hover {
  background-color: #5c667b;
  color: #fbdfff;
}

article > ul {
  margin: .5em 0;
}

footer article > ul {
  margin: 0.5em 0 1em 0;
}

article > ul > a {
  background-color: #fbdfff;
}

a {
  color: $bodyColor;
  text-decoration: underline;
}

h2, article h1 {
    font-family: $highlightFont;
    font-weight: 300;
    font-size: $bodyFontSize;
    position: relative;
}

//NAVIGATION

nav {
  top: 0;
  right: 0;
  width: 100%;
  padding: $txtPadding;
  position: absolute;
  list-style-type: none;
  line-height: 1.3em;
  font-size: $bodyFontSize;
  a {
    text-decoration: none;
    font-weight: 200;
    cursor: pointer;
  }
  a:hover {
    text-decoration: underline;
  }
}

.navhighlight {
  text-decoration: underline;
}

h1 span::before{
  content: '';
  animation: profile 9s infinite;
  position: relative;
  display: block;
}

@keyframes profile {
  0% { content: 'Designer & Developer'; top:0; opacity: 1;}
  30% { content: 'Designer & Developer'; top:0; opacity: 1;}
  35% { content: 'Designer & Developer'; top:0; opacity: 0;}
  39% { content: 'Designer & Developer'; top:0; opacity: 0;}
  40% { content: 'Meanjin, Brisbane'; top:1em; opacity: 0;}
  50% { content: 'Meanjin, Brisbane'; top:0; opacity: 1;}
  80% { content: 'Meanjin, Brisbane'; top:0; opacity: 1;}
  85% { content: 'Meanjin, Brisbane'; top:0; opacity: 0;}
  90% { content: 'Designer & Developer'; top:1em; opacity: 0;}
  100% { content: 'Designer & Developer'; top:0; opacity: 1;}
}

header {
  background: transparent;
  mix-blend-mode: difference;
  height: 20vh;
  position: fixed;
  top: 0;
  transition: top 0.4s ease-out;
  width: 100%;
  z-index: 115;
}

body.about header {
  background: none;
}

.nav-up {
    top: -20vh;
}

.fadeup {
   opacity: 0;
   transition-property: opacity;
   transition-duration: .4s;
   transition-delay: .4s;
   transition-timing-function: linear;
 }
 

 .in-view {
     opacity: 1;
 }

 //SLIDER

#slideshow {
  z-index: 1;
  border-radius: 60px;
  position: relative;
 overflow: hidden;
}

@media (max-width: 600px) {

  .fgshow {
    mix-blend-mode: color;
  }

  .iis-previous-nav::before {
    content: "HEY HERE";
  }

  #foliobg {
    z-index: 0;
  }

  #foliofg {
    box-shadow: inset 0px 0 80px #848484, inset 0px 0 100px #fff;
    opacity: .5;
  }

  .txt-centre {
    text-align: left;
  }

  p, footer h3 {
    font-size: 16.5px;
    margin-right: 5%;
  }

  h2, article h1 {
    text-align: left;
    font-size: 22px;
  }

  article > h2 {
    padding-bottom: .1em;
  }

  footer article > ul {
    width: 80%;
  }

    header {
      height: 85px;
    }

    nav {
      text-align: right;
      font-size: 16.5px;
      a {
        padding-left: 5px;
        display: inline-block;
      }
    }

}
